
services:
  backend:
    build: .
    container_name: fastapi-backend
    restart: always
    env_file:
      - .env
    ports:
      - "${PORT}:8000"   # usa la variabile PORT dal .env (8000)
    depends_on:
      - db
    volumes:
      - .:/app
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

  db:
    image: postgres:15
    container_name: postgres-db
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"   # esterno 5433, interno 5432
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
